/* /////////////////////////////////////// Navbar //////////////////////////////////// */

.navbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/dld4k3hlf/image/upload/v1684952114/BACKGROUN_KUKI_GAMES_abb862.jpg');
    background-size: cover;
    background-position: 100% 100%;
    height: 40%;
    width: 100%;
    box-shadow: 0px 15px 40px black;
}

/* /////////////////////////////////////// Topside //////////////////////////////////// */

.navbar .topSide{
    width: 100%;
    height: 20%;
    margin-top: -5px;
    display: flex;
    justify-content: center;
}

.navbar .topSide .boxTopSide{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar .topSide .boxTopSide .logo{
    font-size: 180%;
    font-family: 'Sigmar', cursive;
    color: white;
    display: inline-block;
    position: relative;
}

.navbar .topSide .boxTopSide .logo:hover{
    animation: moveText 0.2s linear;
}
  
@keyframes moveText {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(5px);
      }
      50% {
        transform: translateX(-5px);
      }
      75% {
        transform: translateX(5px);
      }
      100% {
        transform: translateX(0);
      }
}  

.navbar .topSide .boxTopSide .wrapMe{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSide .wrapMe i{
    display: block;
    font-size: 180%;
}

.navbar .topSide .boxTopSide .wrapMe i:hover{
    font-size: 220%;
}

.navbar .topSide .boxTopSide .wrapMe .wrapGithub{
    background-color: white; 
    border-radius: 100%; 
    width: 60%; 
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSide .wrapMe .bi-instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #ff935a, #ffca3a, #ffc045, #ffd94d, #ffeb59);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease-in-out infinite;
}
  
@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  

.navbar .topSide .boxTopSideSearch{
    width: 46%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch{
    background-color: #ffc8c855;
    width: 99%;
    height: 65%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch:hover{
    width: 100%;
    height: 66%;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch .input{
    background-color: transparent;
    display: inline-block;
    width: 96%;
    color: rgba(255, 255, 255, 0.611);
    cursor: pointer;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch i{
    color: rgba(255, 255, 255, 0.611);
    font-size: 150%;
}

/* /////////////////////////////////////// Greetings //////////////////////////////////// */

.navbar .greetings{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-family: 'Sigmar', cursive;
    color: rgb(235, 164, 164);
}

/* /////////////////////////////////////// Middleside //////////////////////////////////// */

.navbar .middleSide{
    margin-top: 5px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .middleSide .infoGenre{
    width: 80%;
    height: 15%;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.762);
}

.navbar .middleSide .showGenre {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navbar .middleSide .wrapListGenre{
    width: 15%;
    height: 100%;
    border-radius: 10px;
    margin-right: 5px; 
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navbar .middleSide .listGenre{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar .middleSide .listGenre:hover{
    transform: scale(1.1);
}

.navbar .middleSide .listGenre:hover::after {
    content: "Ready to Go?";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff43;
    padding: 10px;
    border-radius: 5px;
}

.navbar .middleSide .listGenre div{
    width: 100%;
    height: 30%;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: #ffffff55;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
}

.navbar .middleSide .listGenre:hover div{
    height: 90%;
}


/* /////////////////////////////////////// Content //////////////////////////////////// */

.content{
    background-color: #2E3036;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

.content .choose{
    width: 10%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.content .choose .chooseField{
    width: 100%;
    height: 20%;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.196);
    transition: 0.5;
}

.content .choose .chooseField:hover{
    width: 120%;
    height: 25%;
}

.content .slideShow{
    width: 85%;
    height: 87%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* /////////////////////////////////////// Response //////////////////////////////////// */

#response{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.533);
    color: white;
}

#response .wrapSearch{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#response .wrapSearch .wrapQueryGames{
    width: 80%;
    height: 98%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 6.5%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames{
    width: 56%; 
    height: 100%; 
    background-color: black;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames{
    width: 92.5%;
    height: 80%;
    border-radius: 5px;
    background-color: #ffffff26;
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames:hover{
    width: 93.5%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames input{
    background-color: transparent;
    display: inline-block;
    width: 90%;
    color: white;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames .search{
    color: rgba(255, 255, 255, 0.611);
    font-size: 150%;
    margin-left: 13px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames{
    width: 100%;
    height: 93.5%;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .back{
    position: absolute;
    font-size:  200%;
    left: 95%;
    bottom: 91%;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .crack{
    position: absolute;
    font-size: 100%;
    right: 86%;
    bottom: 91%;
    width: 10%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .noCrack{
    position: absolute;
    font-size: 100%;
    right: 74.5%;
    bottom: 91%;
    width: 10%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .allGames{
    position: absolute;
    font-size: 100%;
    right: 37%;
    bottom: 91%;
    width: 10%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.556);
    border: solid 1px rgba(255, 255, 255, 0.611);
}

#response .wrapSearch .wrapQueryGames .boxContentGames .allGames:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.19);
}

#response .wrapSearch .wrapQueryGames .boxContentGames .genre{
    position: absolute;
    font-size: 100%;
    right: 26%;
    bottom: 91%;
    color: rgba(255, 255, 255, 0.556);
    border: solid 1px rgba(255, 255, 255, 0.611);
    width: 10%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .genre .bi{
    margin-top: 5px; 
    margin-left: 3px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .genre:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.19);
}

#response .wrapSearch .wrapQueryGames .boxContentGames .bantuan{
    position: absolute;
    font-size: 100%;
    right: 14%;
    bottom: 91%;
    color: white;
    background-color: rgba(0, 128, 0, 0.641);
    border: solid 1px rgba(255, 255, 255, 0.611);
    width: 11%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre{
    position: absolute;
    right: 22.5%;
    width: 17%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .wrapAllBoxCategory{
    margin-top: 15%;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .boxCategory{
    border: solid 0.2px white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
    background-color: black;
}
.boxCategory0:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory1:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory2:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory3:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory4:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory5:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory6:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory7:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory8:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory9:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}.boxCategory10:hover{
    color:white !important;
    background-color: rgba(255, 255, 255, 0.19);
}

#response .wrapSearch .wrapQueryGames .boxContentGames .back:hover{
    color: rgba(255, 0, 0, 0.626);
}

/* //////////////////////////////////////// GAMES /////////////////////////////////////////////// */

.wrapAllGamesDownload{
    width: 100%;
    height: 100%;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
}

.wrapAllGamesDownload .gamesFile{
    margin-top: 7%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames{
    width: 480px;
    height: 170px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
    margin: 8px 8px;
    border-bottom: solid 0.5px white;
    border-right: solid 0.5px white;
    color: white;
    text-decoration: none;
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames:hover{
    border-bottom: solid 0.5px rgb(69, 230, 187);
    border-right: solid 0.5px rgb(69, 230, 187);
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames img{
    border-radius: 10px;
    width: 58%;
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo{
    width: 100%;
    height: 100%;
    text-align: center;
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .game_name{
    width: 100%;
    font-size: 60%;
    padding: 3px;
    color: rgba(0, 128, 0, 0.862);
}

.wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .info{
    width: 100%;
    height: 20%;
    margin-top: -1%;
    font-size: 45%;
    padding: 3px;
}

.wrapAllGamesDownload .pagination{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
  
.wrapAllGamesDownload .pagination .page{
    display: inline-block;
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 3px;
    margin-right: 3px;
}

.arrow{
    font-size: 240%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 30px;
}

.wrapSmart{
    display: none;
}

.loading{
    position: absolute; 
    right: 50%; 
    top: 45%;
}

@media (max-device-width: 1024px) {

    .deleteIpad{
        display: none !important;
    }

    .navbar .middleSide .wrapListGenre{
        width: 30%;
        height: 85%;
    }

    .content .choose{
        display: none;
    }

    .navbar .middleSide{
        margin-top: 320px;
    }


    .content .slideShow{
        width: 90%;
        height: 67%;
        margin-top: 60px;
    }

    .wrapGithub{
        background-color: transparent !important;
    }

    .navbar .greetings{
        display: none;
    }

    .navbar .topSide{
        display: none;
    }

    .wrapSmart{
        display: block;
        width: 100%;
        height: 65%;
        position: absolute;
    }

    .navbar{
        display: block !important;
        justify-content: none !important;
        align-items: none !important;
    }

    .wrapTop{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logoSp{
        font-size: 320%;
        font-family: 'Sigmar', cursive;
        color: white;
        margin-left: 6%;
    }

    .left{
        margin-left: auto;
        width: 35%;
    }

    .left .bi{
        font-size: 300%;
        margin-right: 5%;
    }

    .wrapSearch{
        height: 20%;
        display: flex;
        justify-content: center;
    }

    .boxTopSideSearch{
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch{
        background-color: #ffc8c855;
        width: 99%;
        height: 100%;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch:hover{
        width: 100%;
        height: 120%;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch .input{
        background-color: transparent;
        display: inline-block;
        width: 96%;
        color: rgba(255, 255, 255, 0.611);
        cursor: pointer;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch i{
        color: rgba(255, 255, 255, 0.611);
        font-size: 150%;
    }

    .greetSP{
        text-align: center;
        font-size: 200% !important;
        font-family: 'Sigmar', cursive;
        color: rgb(235, 164, 164);
        margin-top: 5%;
    }
    
    #response{
        background-color: black;
    }

    #response .wrapSearch .wrapQueryGames{
        width: 100%;
        height: 100%;
    }
    
    #response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames{
        width: 96%;
    }

    .wrapAllGamesDownload .gamesFile{
        margin-top: 18%;
    }

    #response .wrapSearch .wrapQueryGames .boxContentGames{
        height: 102%;
    }

    #response .wrapSearch .wrapQueryGames .boxContentGames .back{
        position: absolute;
        font-size: 300%;
        left: 89%;
        bottom: 93%;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .crack{
        font-size: 100%;
        right: 81%;
        bottom: 92%;
        width: 15%;
        height: 4%;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .noCrack{
        font-size: 100%;
        right: 65%;
        bottom: 92%;
        width: 15%;
        height: 4%;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .allGames{
        font-size: 100%;
        right: 49%;
        bottom: 92%;
        width: 15%;
        height: 4%;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .allGames:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.19);
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .genre{
        font-size: 100%;
        right: 31.5%;
        bottom: 92%;
        width: 16.5%;
        height: 4%;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .genre:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.19);
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .bantuan{
        font-size: 100%;
        right: 15.5%;
        bottom: 92%;
        width: 15%;
        height: 4%;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre{
        position: absolute;
        right: 33%;
        width: 17%;
        height: auto;
        text-align: center;
        bottom: 53% !important;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .wrapAllBoxCategory{
        margin-top: 10% !important;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .wrapAllBoxCategory .boxCategory{
        border: solid 0.2px white;
        border-radius: 10px !important;
        font-size: 20px;
        width: 120%;
        height: 40px !important;
        padding: 5px;
        margin-bottom: 2px;
        color: rgba(255, 255, 255, 0.322);
        background-color: black;
    }

    .wrapAllGamesDownload{
        height: 100%;
        border-radius: 0px !important;
    }

    .wrapAllGamesDownload .gamesFile{
        overflow: scroll;
    }
    
    .wrapAllGamesDownload .gamesFile .wrapBoxGames{
        border-bottom-right-radius: none !important;
        border-top-right-radius: none !important;
        border-bottom: none !important;
        border-right: none !important;
        width: 100%;
        height: 200px;
    }

    .wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .game_name{
        font-size: 150%;
    }

    .wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .info{
        font-size: 100%;
        padding: 40px;
    }

    .wrapAllGamesDownload .pagination .page{
        font-size: 30px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .arrow{
        font-size: 280%;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 30px;
    }
    
    .loading{
        right: 43%;
    }

    #response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames{
        padding: 20px;
        height: 70%;
        border-radius: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .delete{
        display: none !important;
    }

    .navbar .middleSide .wrapListGenre{
        width: 30%;
        height: 90%;
    }

    .content .choose{
        display: none;
    }

    .navbar .middleSide{
        margin-top: 150px;
    }

    .content .slideShow{
        width: 90%;
        height: 67%;
        margin-top: 60px;
    }

    .wrapGithub{
        background-color: transparent !important;
    }

    .navbar .greetings{
        display: none;
    }

    .navbar .topSide{
        display: none;
    }

    .wrapSmart{
        display: block;
        width: 100%;
        height: 65%;
        position: absolute;
    }

    .navbar{
        display: block !important;
        justify-content: none !important;
        align-items: none !important;
    }

    .wrapTop{
        width: 100;
        display: flex;
        align-items: center;
    }

    .logoSp{
        font-size: 140%;
        font-family: 'Sigmar', cursive;
        color: white;
        margin-left: 6%;
    }

    .left{
        margin-left: auto;
        width: 40%;
    }

    .left .bi{
        font-size: 140%;
        margin-right: 5%;
    }

    .wrapSearch{
        height: 25%;
        display: flex;
        justify-content: center;
    }

    .boxTopSideSearch{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch{
        background-color: #ffc8c855;
        width: 99%;
        height: 100%;
        border: none;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch:hover{
        width: 100%;
        height: 120%;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch .input{
        background-color: transparent;
        display: inline-block;
        width: 96%;
        color: rgba(255, 255, 255, 0.611);
        cursor: pointer;
    }
    
    .boxTopSideSearch .colorBoxTopSideSearch i{
        color: rgba(255, 255, 255, 0.611);
        font-size: 150%;
    }

    .greetSP{
        text-align: center;
        font-size: 70% !important;
        font-family: 'Sigmar', cursive;
        color: rgb(235, 164, 164);
        margin-top: 10%;
    }

    #response{
        background-color: black;
    }

    #response .wrapSearch .wrapQueryGames{
        width: 100%;
        height: 100%;
    }
    
    #response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames{
        width: 100%;
    }

    .wrapAllGamesDownload .gamesFile{
        margin-top: 18%;
    }

    #response .wrapSearch .wrapQueryGames .boxContentGames{
        height: 101.5%;
    }

    #response .wrapSearch .wrapQueryGames .boxContentGames .back{
        position: absolute;
        font-size: 200%;
        left: 89%;
        bottom: 91.5%;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .crack{
        font-size: 60%;
        right: 81%;
        bottom: 92%;
        width: 15%;
        height: 5%;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .noCrack{
        font-size: 60%;
        right: 65%;
        bottom: 92%;
        width: 15%;
        height: 5%;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .allGames{
        font-size: 60%;
        right: 49%;
        bottom: 92%;
        width: 15%;
        height: 5%;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .allGames:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.19);
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .genre{
        font-size: 60%;
        right: 31.5%;
        bottom: 92%;
        width: 16.5%;
        height: 5%;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .genre:hover{
        color: white;
        background-color: rgba(255, 255, 255, 0.19);
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .bantuan{
        font-size: 60%;
        right: 15.5%;
        bottom: 92%;
        width: 15%;
        height: 5%;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre{
        position: absolute;
        right: 33%;
        width: 17%;
        height: auto;
        text-align: center;
        border-radius: 5px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .wrapAllBoxCategory{
        margin-top: 40% !important;
        border-radius: 10px;
    }
    
    #response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .wrapAllBoxCategory .boxCategory{
        border: solid 0.2px white;
        border-radius: 5px !important;
        font-size: 10px;
        width: 120%;
        height: 25px;
        padding: 5px;
        margin-bottom: 2px;
        color: rgba(255, 255, 255, 0.322);
        background-color: black;
    }

    .wrapAllGamesDownload{
        height: 100%;
        border-radius: 0px !important;
    }

    .wrapAllGamesDownload .gamesFile{
        overflow: scroll;
    }
    
    .wrapAllGamesDownload .gamesFile .wrapBoxGames{
        border-bottom-right-radius: none !important;
        border-top-right-radius: none !important;
        border-bottom: none !important;
        border-right: none !important;
        height: 100px;
    }

    .loading{
        right: 43%;
    }

    #response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames{
        padding: 20px;
    }

    .wrapAllGamesDownload .pagination .page{
        font-size: 20px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .arrow{
        font-size: 250%;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 30px;
    }

    .wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .game_name{
        font-size: 60%;
    }

    .wrapAllGamesDownload .gamesFile .wrapBoxGames .wrapInfo .info{
        font-size: 40%;
        padding: 10px;
    }
}
