/* /////////////////////////////////////// Navbar //////////////////////////////////// */

.navbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/dld4k3hlf/image/upload/v1684952114/BACKGROUN_KUKI_GAMES_abb862.jpg');
    background-size: cover;
    background-position: 100% 100%;
    height: 40%;
    width: 100%;
    box-shadow: 0px 15px 40px black;
}

/* /////////////////////////////////////// Topside //////////////////////////////////// */

.navbar .topSide{
    width: 100%;
    height: 20%;
    margin-top: -5px;
    display: flex;
    justify-content: center;
}

.navbar .topSide .boxTopSide{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar .topSide .boxTopSide .logo{
    font-size: 180%;
    font-family: 'Sigmar', cursive;
    color: white;
    display: inline-block;
    position: relative;
}

.navbar .topSide .boxTopSide .logo:hover{
    animation: moveText 0.2s linear;
}
  
@keyframes moveText {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(5px);
      }
      50% {
        transform: translateX(-5px);
      }
      75% {
        transform: translateX(5px);
      }
      100% {
        transform: translateX(0);
      }
}  

.navbar .topSide .boxTopSide .wrapMe{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSide .wrapMe i{
    display: block;
    font-size: 180%;
}

.navbar .topSide .boxTopSide .wrapMe i:hover{
    font-size: 220%;
}

.navbar .topSide .boxTopSide .wrapMe .wrapGithub{
    background-color: white; 
    border-radius: 100%; 
    width: 60%; 
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSide .wrapMe .bi-instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #ff935a, #ffca3a, #ffc045, #ffd94d, #ffeb59);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 8s ease-in-out infinite;
}
  
@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  

.navbar .topSide .boxTopSideSearch{
    width: 46%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch{
    background-color: #ffc8c855;
    width: 99%;
    height: 65%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch:hover{
    width: 100%;
    height: 66%;
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch .input{
    background-color: transparent;
    display: inline-block;
    width: 96%;
    color: rgba(255, 255, 255, 0.611);
}

.navbar .topSide .boxTopSideSearch .colorBoxTopSideSearch i{
    color: rgba(255, 255, 255, 0.611);
    font-size: 150%;
}

/* /////////////////////////////////////// Greetings //////////////////////////////////// */

.greetings{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-family: 'Sigmar', cursive;
    color: rgb(235, 164, 164);
}

/* /////////////////////////////////////// Middleside //////////////////////////////////// */

.navbar .middleSide{
    margin-top: 5px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .middleSide .infoGenre{
    width: 80%;
    height: 15%;
    font-size: 110%;
    color: rgba(255, 255, 255, 0.762);
}

.navbar .middleSide .showGenre {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/* /////////////////////////////////////// Content //////////////////////////////////// */

.content{
    background-color: #2E3036;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

.content .choose{
    width: 10%;
    height: 87%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
}

.content .choose .chooseField{
    width: 100%;
    height: 20%;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.196);
    transition: 0.5;
}

.content .choose .chooseField:hover{
    width: 120%;
    height: 25%;
}

.content .slideShow{
    width: 85%;
    height: 87%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* /////////////////////////////////////// Response //////////////////////////////////// */

#response{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.533);
    color: white;
}

#response .wrapSearch{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames{
    width: 80%;
    height: 98%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 6.5%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames{
    width: 56%; 
    height: 100%; 
    background-color: black;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames{
    width: 92.5%;
    height: 80%;
    border-radius: 5px;
    background-color: #ffffff26;
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames:hover{
    width: 93.5%;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames input{
    background-color: transparent;
    display: inline-block;
    width: 90%;
    color: white;
}

#response .wrapSearch .wrapQueryGames .boxSearchGames .boxInputGames .bgInputGames .search{
    color: rgba(255, 255, 255, 0.611);
    font-size: 150%;
    margin-left: 13px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames{
    width: 100%;
    height: 93.5%;
    background-color: black;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .back{
    position: absolute;
    font-size: 35px;
    left: 95%;
    bottom: 91%;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .crack{
    position: absolute;
    font-size: 20px;
    right: 86%;
    bottom: 91%;
    width: 10%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .noCrack{
    position: absolute;
    font-size: 20px;
    right: 73%;
    bottom: 91%;
    width: 10%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .genre{
    position: absolute;
    font-size: 20px;
    right: 24%;
    bottom: 91%;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.611);
    width: 14%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre{
    position: absolute;
    right: 22.5%;
    width: 17%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}

#response .wrapSearch .wrapQueryGames .boxContentGames .fieldGenre .boxCategory{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}

.boxCategory0{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
    margin-top: 15%;
}:hover{
    color:white;
}.boxCategory1{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color:white;
}.boxCategory2{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory3{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory4{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory5{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory6{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory7{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory8{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory9{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}:hover{
    color: white;
}.boxCategory10{
    border: solid 0.5px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.322);
}

#response .wrapSearch .wrapQueryGames .boxContentGames .back:hover{
    color: rgba(255, 0, 0, 0.626);
}