.caption p{
    width: 80%;
}

.btrans{
    border: solid 1px transparent;
    position: relative;
    height: 80px;
}

.left{
    width: 25%;
}

.logoHero{
    font-size: 30px;
}

.middle{
    width: 40%;
}

.right{
    width: 35%;
}

.right .bonus{
    padding: 10px 10px;
    border: solid 0.5px gold;
    border-radius: 10px;
    color: gold;
    margin-left: 5px;
}

.right .bonus:hover{
    background-color: rgb(13,17,22);
    transform: scale(1.1);
    cursor: pointer;
}

.right .request{
    padding: 10px 10px;
    border: solid 0.5px rgba(255, 255, 255, 0.794);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.794);
    margin-right: 5px;
    margin-left: 5px;
}

.right .request:hover{
    background-color: rgb(13,17,22);
    transform: scale(1.1);
    cursor: pointer;
}


.right .complain{
    padding: 10px 10px;
    border: solid 0.5px rgba(255, 255, 255, 0.794);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.794);
    margin-right: 5px;
}

.right .complain:hover{
    background-color: rgb(13,17,22);
    transform: scale(1.1);
    cursor: pointer;
}

/* .btrans h1{
    margin-top: 30px;
} */

.waveTop{
    margin-top: -80px;
}

.marq{
    padding: 10px 10px;
    border-radius: 10px;
    border: solid 0.5px rgba(255, 255, 255, 0.794);
    color: rgba(255, 255, 255, 0.794);
    font-size: 20px;
}

.choiceHero{
    height: auto;
    padding-bottom: 50px;
    padding-top: 15px;
    flex-wrap: wrap;
}

.choiceHero div{
    color: rgba(240, 246, 252, 0.744);
    border: solid 0.5px rgba(240, 246, 252, 0.744);
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.choiceHero div:hover{
    background-color: rgb(22,27,34);
    transform: scale(1.1);
}

.cateActive{
    background-color: rgb(22,27,34);
    transform: scale(1.1);
    color: white !important;
    border: solid 1.5px white !important;
}

.wrapSearchHero{
    width: 100%;
    height: 45px;
}

.searchingHero{
    width: 70%;
    height: 100%;
    padding-left: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 0.5px rgba(240, 246, 252, 0.744);
    color: white;
}

.searchingHero:hover{
    background-color: rgb(22,27,34);
}

.cuplikan{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: rgb(22,27,34);
}

.scroll{
    width: 100%;
    height: 56%;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-color: white transparent;
}

.wrapGames{
    width: auto;
    height: 190px;
}

.game0{
    width: 320px;
    height: 170px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.game{
    width: 320px;
    height: 170px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.viewMore{
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}

.viewMore div{
    border: solid 0.5px rgba(240, 246, 252, 0.744);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 10px;
    margin-right: 40px;
}

.viewMore div:hover{
    background-color: rgb(13,17,22);
    transform: scale(1.1);
}

.wrapResultSearching{
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.resultSearching{
    width: 90%;
    height: auto;
    border: solid 0.2px rgba(255, 255, 255, 0.749);
    padding: 10px 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.boxResult{
    width: 30%;
    height: 170px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.backChoice{
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.496);
}

.boxChoiceGame{
    width: 80%;
    height: auto;
    background-color: rgb(22,27,34);
    border-radius: 10px;
    padding-bottom: 30px;
}

.exitChoice{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.733);
}

.imageChoice{
    width: 40%;
    height: 230px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.leftDesc{
    text-align: start;
    margin-right: 30px;
    margin-left: 5%;
}

.wrapLink{
    margin-top: 30px;
}

.link{
    padding: 5px 20px;
    border: solid 0.2px white;
    text-decoration: none;
    color: rgba(255, 217, 0, 0.79);
    border-radius: 10px;
    display: inline-block;
}

.link:hover{
    color: gold;
    transform: scale(1.1);
}

.khususDesc{
    width: 300px;
    height: auto;
}

.footer{
    width: 100%;
    height: 80px;
    border-top: solid 0.2px rgba(255, 255, 255, 0.567);
}

.isCate2{
    padding-top: 10px;
}

.wrapIsCate{
    width: 100%;
    height: auto;
}

.boxIsCate{
    width: 95%;
    overflow-y: scroll;
    height: 70vh;
    flex-wrap: wrap;
    border-radius: 10px;
    border: solid 0.3px rgba(255, 255, 255, 0.308);
}

.isiGame{
    width: 32.3%;
    height: 220px;
    margin-top: 20px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.boxCrack{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 99;
}

.boxCrack input{
    width: 90%;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.112);
    border: none;
    color: white;
}

.boxCrack input::placeholder {
    color: white;
}

.wrapInputBonus{
    padding: 30px 30px; 
    padding-bottom: 80px;
    width: 50%; 
    background-color: black; 
    height: auto;
    flex-wrap: wrap;
    border-radius: 10px;
}

.exitBonus{
    margin-top: 0px;
    width: 100%;
}

.captCrack{
    color:rgba(255, 255, 255, 0.571);
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .choiceHero div{
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .game0{
        width: 290px;
        height: 150px;
    }
    
    .game{
        width: 290px;
        height: 150px;
    }

    .cuplikan{
        padding: 10px 0px;
        width: 100%;
    }

    .wrapGames{
        width: auto;
        height: 180px;
    }

    .left{
        width: 25%;
    }
    
    .middle{
        width: 30%;
    }
    
    .right{
        width: 45%;
    }

    .isiGame{
        width: 49%;
        height: 220px;
    }
    .imageChoice{
        width: 80%;
        height: 290px;
    }
}

@media only screen and (max-width: 767px) {

    .btrans{
        border: solid 1px transparent;
        position: relative;
        height: 60px;
    }

    .caption p{
        width: 90%;
    }

    .waveTop{
        margin-top: -30px;
    }

    .left{
        width: 40%;
    }

    .left h2{
        font-size: 13px;
    }

    .middle{
        width: 5%;
    }

    .right{
        width: 55%;
    }

    .right .bonus{
        padding: 5px 10px;
        margin-left: 5px;
    }

    .right .request{
        padding: 5px 10px;
    }

    .right .complain{
        display: none;
    }

    .logoHero{
        font-size: 20px;
    }

    .marq{
        border: none;
    }

    .marq span{
        display: none;
    }

    .choiceHero div{
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .wrapSearchHero{
        width: 100%;
        height: 40px;
    }
    
    .searchingHero{
        width: 90%;
        height: 100%;
        padding-left: 30px;
        border-radius: 10px;
    }

    .wrapGames{
        width: auto;
        height: 100px;
    }

    .game0{
        width: 150px;
        height: 90%;
        border-radius: 5px;
        margin-right: 5px;
    }
    
    .game{
        width: 150px;
        height: 90%;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .viewMore div{
        border: solid 0.5px rgba(240, 246, 252, 0.744);
        padding: 5px 10px;
        margin-right: 20px;
    }

    .cuplikan{
        padding: 10px 0px;
    }

    .hideCuplikan{
        display: none;
    }

    .resultSearching{
        width: 90%;
    }
    
    .boxResult{
        height: 100px;
    }
    
    .boxChoiceGame{
        width: 90%;
        height: auto;
        background-color: rgb(22,27,34);
        border-radius: 10px;
        padding-bottom: 30px;
        font-size: 13px;
    }
    
    .exitChoice{
        font-size: 40px;
        color: rgba(255, 255, 255, 0.733);
    }
    
    .imageChoice{
        width: 90%;
        height: 180px;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .leftDesc{
        text-align: start;
        margin-right: 0px;
        margin-left: 0%;
        width: 30%;
    }

    .rightDesc{
        width: 60%;
    }

    .khususDesc{
        width: 100%;
        height: auto;
    }

    .exCh{
        position: absolute;
    }

    .lgHe{
        padding-top: 20px;
        font-size: 30px !important;
    }

    .isCate2{
        padding-top: 10px;
        padding-bottom: 10px !important;
    }
    
    .boxIsCate{
        height: 66vh;
    }
    
    .isiGame{
        width: 45%;
        height: 100px;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .wrapInputBonus{
        width: 90%;
    }

    .captCrack{
        font-size: 15px;
    }
}