.content .slideShow .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
  
.content .slideShow .slide.active{
    opacity: 1;
}
  
.content .slideShow .slide .crack{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

#crack1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://res.cloudinary.com/dld4k3hlf/image/upload/v1684915568/tumb_gtav-min-min_ic9c9m.jpg');
    background-position: 100% 36%;
}

#crack2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://res.cloudinary.com/dld4k3hlf/image/upload/v1684945928/tumbnail_onepiece-min-min_l0xufa.jpg');
    background-position: 100% 20%;
}

#crack3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://res.cloudinary.com/dld4k3hlf/image/upload/v1684947325/tumbnail_rdr_2-min_grb1hy.png');
    background-position: 100% 20%;
}
  
@keyframes slideAnimation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    53.33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
  
.content .slideShow .slide:nth-child(1) {
    animation: slideAnimation 12s infinite;
}
  
.content .slideShow .slide:nth-child(2) {
    animation: slideAnimation 12s infinite 4s;
}
  
.content .slideShow .slide:nth-child(3) {
    animation: slideAnimation 12s infinite 8s;
}